@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.pageType = "Index-Page";
    ViewBag.Title = "Welcome to Temple Tours";
    ViewBag.SubTitle = "Schedule a tour of the Layton Temple";
    ViewBag.Background = "/img/laytonTemple.jpg";


}
<!--Section3 Group7-->
<!--Devyn Smith-->
<!--Josh Card-->
<!--Kaden Johnson-->
<!--Stephan Peck-->




@*@model TourListViewModel*@


<a class="nav-link" asp-controller="Home" asp-action="Tours">
    <i class="material-icons">today</i> Sign Up for a Tour
</a>


@*@if (Model.movieTitle != null)
    {
        @: @Model.movieTitle successfully added!
    }*@
@*<a class="nav-link" style="float:right" asp-controller="Home" asp-action="Restaurant">
        <i class="material-icons">local_dining</i> Create Your Own list of Restaurants
    </a>*@

@* Table with bootstrap theme, and hover capabilities *@



